<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a>logado: ${data.user}</a>
  <a href="/reports">Relatorios</a>
  <a href="/tapes">Fitas</a>
  <a href="/logout">Logout</a>
</div>
<div class="container-fluid">
  <h4>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span><b>   Tape Manager</b>
  </h4>
</div>
<script src="jspub/nav.js"></script>
