<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Fitas</h1><br>
        <input type="text" id="myInput" onkeyup="searchInTable()" placeholder="Procure pelo Serial">
        <table id="myTable" class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Serial</th>
              <th scope="col">Nome da Media</th>
              <th scope="col">Pool da Media</th>
              <th scope="col">ServerName Media</th>
              <th scope="col">Ultima escrita</th>
              <th scope="col">Tempo para Expira</th>
              <th scope="col">Projeto</th>
            </tr>
          </thead>
          <tbody>
            <tr for (fita in data)>
              <th scope="row">${fita.MediaSerial}</th>
              <td>${fita.MediaName}</td>
              <td>${fita.Pool}</td>
              <td>${fita.ServerName}</td>
              <td>${fita.LastWritten}</td>
              <td>${fita.ExpirationDate}</td>
              <td>${fita.Project}</td>
            </tr>
          </tbody>
        </table>
    </body>
    <script>
    function searchInTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("th")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
</html>
