<html>
    <head>
      <include('../templates/header.marko')></include>
    </head>
    <body>
      <include('../templates/menu.marko')></include>
        <h2>Fitas</h2><br>
        <input type="text" id="myInput" onkeyup="searchInTable()" placeholder="Procure pelo Serial">
        <table id="myTable" class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Serial</th>
              <th scope="col">Nome da Media</th>
              <th scope="col">Pool da Media</th>
              <th scope="col">ServerName Media</th>
              <th scope="col">Ultima escrita</th>
              <th scope="col">Tempo para Expira</th>
              <th scope="col">Projeto</th>
            </tr>
          </thead>
          <tbody>
            <tr for (fita in data)>
              <th scope="row">${fita.MediaSerial}</th>
              <td>${fita.MediaName}</td>
              <td>${fita.Pool}</td>
              <td>${fita.ServerName}</td>
              <td>${fita.LastWritten}</td>
              <td>${fita.ExpirationDate}</td>
              <td>${fita.Project}</td>
            </tr>
          </tbody>
        </table>
    </body>
    <script src='jspub/searchInTable.js'></script>
</html>
