<html lang="en">
<head>
  <include('../templates/header.marko')></include>
</head>
  <body>
    <include('../templates/menu.marko')></include>
	   <h2>Relatorio Fitas</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Projeto</th>
            <th>Total Fitas Gravadas</th>
            <th>REPOSITORIO EXTERNO</th>
            <th>REPOSITORIO LOCAL</th>
            <th>TOTAL FITAS SCRATCH</th>
            <th>TOTAL FITAS</th>
          </tr>
        </thead>
        <tbody>
          <tr for (info in data)>
              <th scope="row">${info.group}</th>
              <td>${info.total_remote +info.total_local}</td>
              <td>${info.total_remote}</td>
              <td>${info.total_local}</td>
              <td>${info.total_scratch}</td>
              <td>${info.total}</td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
