<html lang="en">
<head>
  <include('../templates/header.marko')></include>
</head>
  <body>
    <include('../templates/menu.marko', {user: data.user_info.login })></include>
    <include('./showReportAllMedias.marko', {reportmedias: data.reportmedias})></include>
    <br>
    <include('./showReportToDo.marko', {
      subject: data.medias_written_today_subject,
      medias: data.medias_written_today
    })></include>
    <br>
    <include('./showReportToDo.marko', {
      subject: data.medias_will_expire_subject,
      medias: data.medias_will_expire })></include>
    <br>
    <include('./showReportToDo.marko', {
      subject: data.medias_move_to_scratch_subject,
      medias: data.medias_move_to_scratch })></include>
  </body>
</html>
