{
  "serverdata": {
    "host": "localhost",
    "port": 3001
  },
  "server": {
    "host": "localhost",
    "port": 3000
  },
  "authentication": {
    "ldapserver": "ldap://x.x.x.x:389",
    "searchBase": "dc=xxx,dc=xxxx",
    "filter": "(uid={{usexrname}})",
    "secretKeyToken" : "XXXXXXXXXXXXXXXXXXXX",
    "google_recaptcha_client_side" : "XXXXXXXX",
    "google_recaptcha_server_side" : "XXXXXXXX",
    "google_verify_site": "https://www.google.com/recaptcha/api/siteverify"
  }
}
